body {
    font-size: 2vh;
    margin-left: 1vw;
    margin-right: 20vw;
    font-family: Calibri;
    color: #eeeeee;
    background-color: #242424;
}

#next, #prev, #rand, #rst{
    min-width: 4vw;
    min-height: 2vw;
    color: #eeeeee;
    border: #03DAC5 0.2em solid;
    border-collapse: collapse;
    background-color: #404040;
    margin-bottom: 0.5vw;
}

#next, #rand, #rst{
    margin-left: 1vw;
}

#plot{
    max-width: 900px;
    max-height: 600px;
}


#article-section{
    max-width: 40vw;
    border: #BB86FC 0.2em solid;
    border-collapse: collapse;
    padding: 0.4em;
}

h1{
    font-size: 3vh;
}

h2, h3{
    font-size: 2.5vh;
}

h1, h2, h3{
    color: #BB86FC;
}

a:link{
    color: #FF7597;
}

a:visited{
    color: #FF0266;
}

ul, ol {
    padding-left: 3.703vh;
}